header {
    background: #A38068;
}

.title {
    width: 100%;
}

.text {
    width: 100%;
    padding: 10px;
    text-align: right;
}

nav ul {
    font-weight: bold;
}

nav li {
    display: inline;
    padding: 0 90px 0 0;
}

nav a {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav a:hover {
    font-size: 18px;
    color: whitesmoke;
   
}
.sobre-c { 
    font-size: 35px;
    text-align: left;
    margin: 40px 0px 40px 0px;
    padding: 50px 20px 0px 20px;
}

.info {
    font-size: 25px;
    text-align: left;
    margin: 40px 600px 40px 0px;
    padding: 0px 20px 0px 20px;
}

strong {
    color: #A38068;
}

.rede {
    width: 20%;
    position: absolute;
    float: right;
    top: 390px;
    right: 108px;
    padding: 40px 0px 0px 0px;
}

.sobre-c2 { 
    position: relative;
    font-size: 35px;
    top: 280px;
    margin-left: 40%;
    color: black;
}

.info2 { 
    position: relative;
    text-align: center;
    font-size: 20px;
    top: 300px;
    margin: 0 40%;
}

.calabria {
    width: 29%;
    margin-top: 80px;
}


footer {
    width: 100%;
    background: #A38068;
    height: 150px;
}

.foot{
    text-align: center;
    margin-top: 20px;
    padding-top: 9%;
    color: whitesmoke;
}

 @media (max-width: 1000px) {
       nav li, nav a {
            font-size: 10px;
            width: 100%;
            padding: 0 10px 0 0;
    }
}

 @media (max-width: 1000px) {
    .info{
        width: 40%;
        font-size: 14px;
        text-align: left;
    }
}

 @media (max-width: 1000px) {
    .sobre-c2 {
       text-align: left;
        font-size: 14px;
        top: 150px;
          
    }
    footer {
        height: 30%;
        font-size: 10px;
       }
}

@media (max-width: 1000px) {
    .info2 {
      
        text-align: justify;
        font-size: 14px;
        top: 170px;
        left: 20%;
    }
}
 @media (max-width: 1000px) {
    .rede {
        width: 30%;
        top: 50%;
        right: 10%;
    }
}